<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Brands</title>
</head>
<body>
    <h1>List of Brands</h1>
    <ul>
        {% for brand in brands %}
            <li>{{ brand.name }} - {{ brand.headquarters }} (Established: {{ brand.established_year }})</li>
        {% endfor %}
    </ul>
    <a href="{% url 'car_list' %}">View Cars</a>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
